* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: yellowgreen;
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;

}

header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: yellowgreen;
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;

}

form button :hover {
    background: rgb(9, 197, 203);
    color: rgb(16, 52, 209);
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.todo-list {
    min-width: 30%;
    list-style: none;

}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.delete-button,
.chack-button {
    background: rgb(201, 62, 31);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;

}

.chack-button {
    background: rgb(10, 16, 207);
}

.todo-item {
    padding: 0rem 0.5rem;

}

.chack {
    text-decoration: line-through;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(120deg);
    opacity: 0;

}
/* 
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;

}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;

}

select {
    font-size: 1rem;
    color:blue;
    width: 10rem;
    cursor:pointer;
    padding: 1rem;

}
.select::after{
    content: "\25BC";
    position: absolute;
    background:yellow;
    top:0px;
    right: 0px;
    padding: 1rem;
    pointer-events: none;

}
.select:hover::after{
    background: white;
    color:yellow;
    transition: all 0.3s ease;

} */